#alternative{
    display:flex;
    margin-left:85%;
    gap:20px;
}
#google{
    display: inline-block;
    height: 24px;
    width: 74px;
    margin-left:10px;
}
.row-input{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-top:20px;
}
#title{
    font-family:arial, sans-serif;
    color: #d93025;
    font-size:20px;
    margin-top: 3vh;
    margin-bottom: 2vh;
    margin-left:20px;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    
    text-decoration: none;
}
#title2{
    font-family:arial, sans-serif;
    color: black;
    font-size:20px;
    margin-top: 3vh;
    margin-bottom: 2vh;
    margin-left:20px;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    text-decoration: none;
}
form{
    height:30px;
    margin-left:20px;
}
#search{
    margin-left: 18%;;
    height:27px;
    background-color:#4d90fe;
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    color: #fff;
    border: 1px solid #3079ed;
    border-radius:2px;
    margin-top:15px;
}
#search:hover{
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
    background-image: linear-gradient(top,#4d90fe,#357ae8);

}
.right{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width:100%;
}
.left{
    height: 30px;
    width:200px;
    display: table-cell;
    vertical-align: middle;
}