body {
    height: 100vh;

}
#alternative{
    font-size:15px;
    font-family:sans-serif;
    text-decoration:none;
    margin-left:85%;
}
#searchbar{
    margin:auto;
    width:30vw;
    height:6vh;

    border-radius:30px;
   
  
}
#searchformbar{
    margin:auto;
    padding-left:40%;
    padding-top:20%;
    height:90%;
    width:100%;


}
#searchformbut{
    margin:auto;
    padding-left:50%;
    padding-top:1%;
    height:90%;
    width:100%;
    


}
#form{
    display:grid;
    grid-column-gap:20px;
    grid-row-gap:10px;
    grid-row: auto;
   
}
#button{
    width:10vw;
    border-radius:9px;
}