body {
    height: 100vh;
    background-color:#202124;

}
#alternative{
    font-size:15px;
    font-family:sans-serif;
    text-decoration:none;
    margin-left:85%;
}
#searchbar{
    margin:auto;
    width:30vw;
    height:6vh;
    font-size:23px;
    border-radius:30px;
    background-color: #202124;
    color: white;
    font-size:14px;
    border-color:#bdc1c6;
   
  
}
#searchformbar{
    padding-left:38%;
    font-family:arial, sans-serif;
    padding-top:9%;
    height:90%;
    width:100%;


}
#searchformbut{
    margin:auto;
    padding-left:44%;
    padding-top:4%;
    height:90%;
    width:100%;

    


}
#form{
    display:grid;
    grid-column-gap:20px;
    grid-row-gap:10px;
    grid-template-rows:33% 33% 33%;
    
   
}
#button{
    
    border:none;
}
button{
    width:20vw;
}

.google{
    height:100px;
    width:92px;
    margin-left:35vw;
    padding-top:25vh;

}
#search{
    margin-right:1vw;
}
#searching{
    padding-top:5%;
    
}
a{
    color:white;
    text-decoration:none;
    font-family:arial, sans-serif;
    padding:0 0 0 5px;
}
#searchbar:hover{
    background-color:#353639
}
img{
    width: 272px;px;
    height:92px;
    margin-left:8vw;
    margin-top:7vw;
}
#search{
    border-radius: 5px;
    background-color:#353639;   
    color:#e8eaed;
    width:132.45px;
    height:36px;
    
    
}
#search:hover{
    border:1px solid #5f6368;
    
}